global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    # WebSocket ve uzun süreli bağlantılar için kritik süreler
    timeout connect 10s
    timeout client 3600s
    timeout server 3600s
    timeout tunnel 3600s 
    # Bağlantı hatalarını minimize eder
    option redispatch
    retries 3

frontend http-in
    # Cloud Run trafiği 8080 portundan gönderir
    bind *:8080
    
    # WebSocket kontrolü (Upgrade başlığı varsa tünel moduna girer)
    acl is_websocket hdr(Upgrade) -i WebSocket
    
    # Orijinal Host bilgisini sunucuya iletir
    http-request set-header Host %[hdr(host)]
    
    default_backend dynamic_origin

backend dynamic_origin
    # Cloud Run üzerinden girdiğiniz değişkenleri okur
    server myserver "${ORIGIN_IP}:${ORIGIN_PORT}" check
